<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY/MM/dd HH:mm:ss.SSS} [%thread] %logger{0} %M %n%-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>latest.log</file>
        <encoder>
            <pattern>%d{YYYY/MM/dd HH:mm:ss.SSS} [%thread] %logger{0} %M %n%-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDERR"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>