#puzzle-text {
    -fx-font-family: "monospaced";
}

#content {
    -fx-alignment: center;
}

#puzzle-area {
    -fx-alignment: center;
    -fx-padding: 10;
}

.sudoku-grid {
    -fx-grid-lines-visible: true;
    -fx-alignment: center;
    -fx-valignment: center;
    -fx-halignment: center;
}

.sudoku-cell {
    -fx-alignment: center;
    -fx-font-size: 30;
    -fx-font-family: "arial";
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-min-height: 60;
    -fx-pref-height: 60;
}

.kakurasu-grid {
    -fx-alignment: center;
    -fx-valignment: center;
    -fx-halignment: center;
    -fx-padding: 0;
    -fx-vgap: 0;
    -fx-hgap: 0;
}

.kakurasu-cell {
    -fx-alignment: center;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-padding: 0;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: "black";
}

.line-label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.kakurasu-label {
    -fx-alignment: center;
    -fx-min-width: 30;
    -fx-pref-width: 30;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-padding: 0;
    -fx-font-weight: bold;
}