#puzzle-text {
    -fx-font-family: 'monospaced';
}

.grid-cell {
     -fx-border-color: #cccccc;
     -fx-border-width: 1;
     -fx-alignment: center;
}

.sudoku-grid {
    -fx-cell-height: 60;
    -fx-cell-width: 60;
    -fx-vertical-cell-spacing: 0;
    -fx-horizontal-cell-spacing: 0;
}