#puzzle-text {
    -fx-font-family: "monospaced";
}

#content {
    -fx-alignment: center;
}

#puzzle-area {
    -fx-alignment: center;
    -fx-padding: 10;
}

.sudoku-grid {
    -fx-grid-lines-visible: true;
    -fx-alignment: center;
    -fx-valignment: center;
    -fx-halignment: center;
}

.sudoku-cell {
    -fx-alignment: center;
    -fx-font-size: 30;
    -fx-font-family: "arial";
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-min-height: 60;
    -fx-pref-height: 60;
}